body {
    margin:0;
    background-color:aquamarine;
}

a {
    color:aliceblue;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

nav {
    background-color:#000000;
    height:50px;
    width100%;
    text-align:center;
}

nav a {
    display: inline-block;
    padding:20px;
    float:right;
}

.main-img {
    background-image: url('../content/static/index(1).jpeg');
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative;
}

.title {
    position: absolute;
    color: white;
    font-size: 45px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 0 8px black;
}

.container {
    max-width: 100%;
    width: 98%;
    margin: auto;
    padding-left:40px;
}

.post {
    margin: 5px;
    position: relative;
    height: 350px;
    width: 95%;
    display: flex;
    box-shadow: 0 0 5px 0 black;
}

.post img {
    width:95%;
    height:350px;
    width:100%;
    object-fit:cover;
}

.post-body {
    margin: -5px 5px 0;
    width: 95%;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.no-shadow {
    box-shadow: none;
}